@use '../utilities/mixins';

.aboutus-container {
    @include mixins.grid(900px 1fr,1fr 1fr,5px,auto);
    .parrafo-about-us {
        margin: 10px 0px;
        padding: 20px;
        color: #f05fb6;
    }
    img {
        width: 350px;
        height: 350px;
    }
    .contenedor-img {
        @include mixins.flex(row,space-evenly,center);
        gap:5px;
        width: 1200px;
        height: 400px;
        margin-left: 20px;
            img {
                width: 100%;
                height: 100%;
            }
    }
}