@use '../utilities/mixins';

.aboutus-container {
    @include mixins.grid(900px 1fr,1fr 1fr,5px,auto);
    padding-top: 20px;
    margin-top: 150px;
    .parrafo-about-us {
        margin: 10px 0px;
        padding: 20px;
        color: #f05fb6;
        p {
            font-size: 24px;
        }
    }
    img {
        width: 350px;
        height: 350px;
    }
    .contenedor-img {
        @include mixins.flex(row,space-evenly,center);
        gap:5px;
        width: 1200px;
        height: 400px;
        margin-left: 20px;
        padding-top: 20px;
            img {
                width: 100%;
                height: 100%;
            }
    }
}

@media (max-width: 576px) {
    .portada {
        img {
            width: 100%;
            height: 200px;
        }
    }
    .aboutus-container {
        @include mixins.grid(1fr,auto,5px,5px);
        .parrafo-about-us {
            width: 100%;
        }
        img {
            width: 200px;
            height: 200px;
        }
        .contenedor-img {
            @include mixins.flex(column,space-evenly,center);
            gap:5px;
            width: auto;
            height: auto;
            margin-left: 0px;
        }
    }
}

@media (min-width:577px) and (max-width:1024px) {
    .portada {
        img {
            width: 100%;
            height: 350px;
        }
    }
    .aboutus-container {
        @include mixins.grid(1fr,auto,5px,5px);
        .parrafo-about-us {
            width: 100%;
        }
        img {
            width: 300px;
            height: 300px;
        }
        .contenedor-img {
            @include mixins.flex(column,space-evenly,center);
            gap:5px;
            width: 80%;
            height: 80%;
            margin-left:80px;
        }
    }
}