@use '../utilities/mixins';

.footer-container {
    @include mixins.flex(row,space-evenly,center);
    .footer-p {
        color: #f05fb6;
        font-size: 16px;
    }
    .meme-link {
        text-decoration: none;
        color: #f05fb6;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .footer-container {
        @include mixins.flex(column,center,center);
        margin-left: 12px;
    }
}
@media (min-width:577px) and (max-width:1024px) {
    .footer-container {
        @include mixins.flex(column,center,center);
        margin-left: 18px;
    }
}