@use '../utilities/mixins';

.form-container {
    @include mixins.flex(row,space-evenly,center);
    .div-form {
        width: 700px;
        margin: 10px 25px;
        padding: 15px 20px;
        .mb-3 {
            .form-control{
            background-color: #f05fb6;
            border: #f05fb6;
            }
            label {
                color: #f05fb6;
            }
        }
    }
    img {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .form-container {
        @include mixins.flex(column,space-evenly,center);
        .div-form {
            width: 100%;
        }
        img {
            width: 200px;
        }
    }
}

@media (min-width:577px) and (max-width:1024px) {
    .form-container {
        @include mixins.flex(column,space-evenly,center);
        .div-form {
            width: 100%;
            .mb-3 {
                label {
                    font-size: 24px;
                }
            }
        }
        img {
            width: 300px;
        }
    }
}