@use '../utilities/mixins';

.portada {
    width: 95%;
    height: 400px;
    margin-left: 20px;
    margin-bottom: 50px;
}
.container-prod {
    @include mixins.grid(1fr 1fr,1fr 1fr,15px,10px);
    margin-top: 150px;
    .card-producto {
        @include mixins.flex(auto,auto,center);
        .img-menu {
            margin: 15px;
            width: 250px;
            height: 200px;
        }
        .titulo-menu {
            margin: 15px;
            font-size: 15px;
        }

    }
}

.container-helados {
    @include mixins.grid(1fr 1fr,1fr,15px,10px); 
    .card-producto {  
        @include mixins.flex(auto,auto,center);
        .img-menu-hel {
            margin: 15px;
            width: 200px;
            height: 250px;
        }
        .titulo-menu {
                margin: 15px;
                font-size: 15px;
        }
    }
}
.reserva-cumple {
    text-align: center;
    text-shadow: 
            0 0 5px #f05fb6,
            0 0 10px #f05fb6;

    .form-contacto {
        text-decoration: none;
        color: #f05fb6;
    }
}

@media (max-width: 576px) {
    .portada {
        width: 98%;
        margin-left: 5px;
        margin-bottom: 5px;
        height: 250px;
    }
    .container-prod {
        @include mixins.grid(1fr,auto,2px,2px);
        border: 2px solid #f05fb6;
        margin-top: 0px;
        .card-producto {
            @include mixins.flex(column,center,center);
        .titulo-menu {
            margin: 8px;
            font-size: 18px;
            }
        }
    }
    .container-helados {
        @include mixins.grid(1fr,auto,2px,2px); 
        .card-producto {  
            @include mixins.flex(column,center,center);
            .img-menu-hel {
                margin: 15px;
                width: 200px;
                height: 250px;
            }
            .titulo-menu {
                    margin: 15px;
                    font-size: 15px;
            }
        }
    }
}

@media (min-width:577px) and (max-width:1024px) {
    .container-prod {
        margin-top: 5px;
            .card-producto {
                @include mixins.flex(column,center,center);
                .titulo-menu {
                margin: 8px;
                font-size: 18px;
                }
            }
    }
    .container-helados {
        .card-producto {
            @include mixins.flex(column,center,center);
            .titulo-menu {
            margin: 8px;
            font-size: 18px;
            }
        }
    }
}

