@use '../utilities/mixins';

@keyframes a-hover{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.nav-container {
    @include mixins.flex(row,space-between,center);
    .link-home {
        .logo-bar {
            width: 200px;
        }
    }
    .minav-toggler {
        display: none;
    }
    .mi-menu {
        .mimenu-links {
            @include mixins.flex(row,space-evenly,center);
            gap: 20px;
            margin-right: 10px;
            padding-right: 10px;
            .minav-link {
                color: #f05fb6;
                text-decoration: none;
                &:hover {
                    background-image: linear-gradient(to top, #f05fb6, #fa6dc1,black);
                    color: black;
                    animation-name: a-hover;
                    animation-iteration-count: 1;
                    animation-duration: 0.3s;    
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .nav-container {
        @include mixins.flex(column,space-between,flex-start);
        .link-home {
            .logo-bar {
                width: 150px;
            }
        }
        .mi-menu {
            .mimenu-links {
                @include mixins.flex(column,space-evenly,flex-start);
                gap: 8px;
            }
        }
    }
}

@media (min-width:577px) and (max-width:990px) {
    .minav-link {
        font-size: 22px;
    }
}