@use '../utilities/mixins';
.nav-container {
    @include mixins.flex(row,space-between,center);
    .link-home {
        .logo-bar {
            width: 200px;
        }
    }
    .minav-toggler {
        display: none;
    }
    .mi-menu {
        .mimenu-links {
            @include mixins.flex(row,space-evenly,center);
            gap: 20px;
            margin-right: 10px;
            padding-right: 10px;
            .minav-link {
                color: #f05fb6;
                text-decoration: none;
                &:hover {
                    color: black;
                    background-color: #f05fb6;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .nav-container {
        @include mixins.flex(column,space-between,flex-start);
        .link-home {
            .logo-bar {
                width: 150px;
            }
        }
        .mi-menu {
            .mimenu-links {
                @include mixins.flex(column,space-evenly,flex-start);
                gap: 8px;
            }
        }
    }
}

@media (min-width:577px) and (max-width:990px) {
    .minav-link {
        font-size: 22px;
    }
}