
.navbar {
    background-color: black;
    
    .container-fluid {
        .logo-bar {
            width: 150px;
        }
        .navbar-toggler-icon {
            background-color: #f05fb6;
            border: 1px solid #f05fb6;
            border-radius: 5px;
            }
        .collapse {
            .navbar-nav {
                .nav-link {
                    color: #f05fb6;
                    &:hover {
                        color: black;
                        background-color: #f05fb6;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .collapse {
        display: flex;
        justify-content: flex-start;
        .navbar-nav {
            .nav-link {
                font-size: 1.10rem;
            }
        }
    }
}

@media (min-width:577px) and (max-width:990px) {
    .navbar {
        .container-fluid {
            .logo-bar {
                width: 200px;
            }
            .navbar-toggler-icon {
                width: 50px;
                height: 50px;
            }
            .collapse {
                .navbar-nav {
                    .nav-link {
                        font-size: 1.50rem;
                    }
                }
            }
        }
    }
}