@use '../utilities/mixins';
.novedades {
    @include mixins.flex(column,center,center);
    width: 90%;
    margin-left: 100px;
    padding: 20px 80px;
    h3 {
        font-size: 24px;
    }
    .suscribir {
        @include mixins.flex(column,space-between,center);
        gap: 10px;
        .form-control {
            width: 300px;
            height: 50px;
        }

    }
}

@media (max-width: 576px) {
    .novedades {
        width: 95%;
        margin-left: 20px;
        padding: 10px 30px;
    }
    h3 {
        font-size: 12px;
        text-align: center;
    }
    .suscribir {
        @include mixins.flex(column,space-between,center);
        width: 100%;
        gap: 5px;
        .form-control {
            width: 150px;
        }
    }
}
@media (min-width:577px) and (max-width:1024px) {
    .novedades {
        width: 600px;
        margin-left: 100px;
        padding: 15px 50px;
    }
    h3 {
        font-size: 12px;
        text-align: center;
    }
}