@use '../utilities/mixins';

.promociones-container {
    @include mixins.flex(row,space-evenly,center);
    gap: 10px;
    margin: 10px;
    img {
        width: 450px;
        height: 250px;
        background-color: black;
    }
    p {
        border: 2px solid #f05fb6;
        padding: 10px;
        font-size: 25px;
        text-align: center;
        color: #f05fb6;
    }
}