@use '../utilities/mixins';

.promociones-container {
    @include mixins.flex(row,space-evenly,center);
    gap: 10px;
    margin: 10px;
    img {
        width: 450px;
        height: 250px;
        background-color: black;
    }
    p {
        border: 2px solid #f05fb6;
        padding: 10px;
        font-size: 25px;
        text-align: center;
        color: #f05fb6;
    }
}
@media (max-width: 576px) {
    .promociones-container {
        @include mixins.flex(column-reverse,center,center);
        gap: 5px;
        margin: 5px;
        img {
            width: 300px;
            height: 200px;
        }
        p {
            margin-top: 5px;
            font-size: 15px;
        }
    }
}

@media (min-width:577px) and (max-width:990px) {
    .promociones-container {
        img {
            width: 200px;
            height: 150px;
        }
        p {
            font-size: 22px;
        }
    }
}