@use '../utilities/mixins';

.portada img {
    width: 100%;
    height: 500px;
}

.contenedor-suc {
    @include mixins.flex(row,space-evenly,auto);
    flex-wrap: wrap;
    .card {
        padding: 10px 20px;
        background-color: #f05fb6;
            img {
                width: 450px;
                height: 400px;
            }
            h2 {
                color: black;
                text-align: center;
                font-size: 35px;
            }
            p {
                color: black;
                text-align: center;
                font-size: 20px;
            }
    }
    .horarios-locales {
        margin-top: 20px;
        padding: 5px;
        p {
            color:#f05fb6;
        }
    }
}