@use '../utilities/mixins';

.portada img {
    width: 100%;
    height: 500px;
}

.contenedor-suc {
    @include mixins.flex(row,space-evenly,auto);
    flex-wrap: wrap;
    margin-top: 150px;
    .card {
        padding: 10px 20px;
        background-color: #f05fb6;
            img {
                width: 450px;
                height: 400px;
            }
            h2 {
                color: black;
                text-align: center;
                font-size: 35px;
            }
            p {
                color: black;
                text-align: center;
                font-size: 20px;
            }
            &:hover {
                transform: translate(5px, 10px);
            }
    }
    .horarios-locales {
        margin-top: 20px;
        padding: 5px;
        text-shadow: 
            0 0 5px #f05fb6,
            0 0 10px #f05fb6;
        p {
            color:#f05fb6;
        }
    }
}

@media (max-width: 576px) {
    .portada {
        img {
            height: 300px;
        }      
    }
    .contenedor-suc {
        @include mixins.flex(column,auto,auto);
        margin-top: 20px;
        gap: 10px;
        .card {
            width: 100%;
            height: 650px;
            margin-left: 0px,10px;
            padding: 5px 5px;
            .card-img {
                width: 100%;
                margin-top: 20px;
            }
            .h2 {
                margin-top: 10px;
            }
            
        }
        .horarios-locales {
            @include mixins.flex(column,auto,auto);
            margin-left: 8px;
            h3 {
                font-size: 19px;
            }
            p {
                font-size: 19px;
            }
        }
    }
}

@media (min-width:577px) and (max-width:1024px) {
    .contenedor-suc {
        margin-top: 10px;
        gap: 20px;
        .card {
            width: 80%;
            .card-img {
                width: 100%;
            }
        }
    }
}