* {
    margin: 0;
    padding: 0;
}
/*Fuente nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*font-family: "Nunito", sans-serif;*/

body {
    background-color: black;
    font-family: "Nunito", sans-serif;
    margin: 0px 10px;
}

/*Header_ul*/
.logo-bar {
    width: 200px;
}

.navbar-nav {
    background-color: black;
}

/*.nav-link {
    color: #f05fb6;
}*/
.nav-link {
  color: #f05fb6;
}

.nav-link:hover {
  color: black;
  background-color: #d63384;
}
.navbar-toggler-icon {
    background-color: #f05fb6;
    border: 1px solid #f05fb6;
    border-radius: 5px;
}
.collapse {
    display: flex;
    justify-content:center;
}

h1 {
    color: #f05fb6;
    font-size: 45px;
    margin: 20px;

}

h2 {
    color: #f05fb6;
    font-size: 25px;
}
h3 {
    color: #f05fb6;
    font-size: 18px;
}

p {
    color: #f05fb6;
    font-size: 14px;
}

/*Carousel*/
.carousel-container {
    background-color: #f05fb6;
}
.carousel-inner {
    width: 800px;
    /*height: 40%;*/
    margin: auto;
}

.carousel-caption {
    background-color: #f05fb6;
    opacity: 0.6;
}

.carousel-caption h2 {
    color: black;
}

.carousel-caption p {
    color: black;
}

/*footer*/
.footer-container {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}


.meme-link {
    text-decoration: none;
    color: #f05fb6;
    font-size: 12px;
}

/*Formulario*/

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.div-form {
    width: 700px;
    margin: 10px 25px;
    padding: 15px 20px;
}
.form-container img {
    width: 300px;
}

.mb-3 input{
    background-color: #f05fb6;
    border: #f05fb6;
}
.mb-3 textarea {
    background-color: #f05fb6;
    border: #f05fb6;
}
.mb-3 label {
    color: #f05fb6;
}

.boton_enviar {
    display: inline-block;
    background-color: gray;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 6px;

}

/*pagina productos_cafe*/

.container-prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin: 18px;
}

.card-producto {
    display: flex;
    align-items: center;
}

.img-menu {
    margin: 15px;
    width: 250px;
    height: 200px;
}
.titulo-menu {
    margin: 15px;
    font-size: 15px;
}
.card-text {
    margin: 15px;
    padding: 8px;
    font-size: 12px; 
}

/*pagina sucursales*/
.contenedor-suc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
}

.card {
    padding: 24px;
    background-color: #f05fb6;

}
.card img {
    width: 450px;
    height: 400px;
}

.card h2  {
    color: black;
    text-align: center;
    font-size: 35px;
}

.card p {
    color: black;
    text-align: center;
    font-size: 20px;
}

/*pagina sobre nosotros*/
.parrafo-about-us {
    margin: 10px 0px;
    padding: 20px;
}

.aboutus-container {
    display: grid;
    grid-template-columns: 900px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 30px;

}

.aboutus-container img {
    width: 300px;
    height: 300px;
}

@media (max-width:576px) {
    h1{
        font-size: 30px;
    }
    .collapse {
    display: flex;
    justify-content:flex-start;
    }
    .carousel-inner {
        width: 300px;
    }

    .carousel-caption h2{
        font-size: 10px;
        color: black;
    }
    .carousel-caption p{
        font-size: 8px;
        color: black;
    }

    footer {
        margin-top: 25px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .container-prod {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card-producto {
        display: flex;
        flex-direction: column;
    }
    .img-menu {
        margin: 8px;
        width: 250px;
        height: 200px;
    }
    .titulo-menu {
        margin: 8px;
        font-size: 15px;
    }
    .card-text {
        margin: 8px;
        padding: 4px;
        font-size: 12px; 
    }
    .contenedor-suc {
        flex-direction: column;
    }
    .card {
        margin-bottom: 10px;
        padding: 12px;
        background-color: #f05fb6;
    }
    .card img {
        width: 350px;
        height: 350px;
    }
    .aboutus-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .aboutus-container img {
        margin-left: 50px;
    }
    .form-container {
        flex-direction: column;
    }
    .div-form {
        width: 300px;
        margin: 5px;
        padding: 5px;
    }
    .form-container img {
        width: 200px;
    }

}

@media (min-width:577px) and (max-width:990px) {
    .carousel-inner {
        width: 500px;
    }
    .collapse {
    display: flex;
    justify-content:flex-start;
    }
    footer {
        margin-top: 30px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        margin-left: 50px;
        margin-bottom: 40px;
    }

    .container-prod {
        display: grid;
        grid-template-columns: 1fr;
    }
    .img-menu {
        margin: 8px;
    }
    .titulo-menu {
        margin: 8px;
        padding: 10px;
        font-size: 15px;
    }
    .card-text {
        margin: 8px;
        padding: 4px;
        font-size: 12px; 
    }
    .contenedor-suc {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .aboutus-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .aboutus-container img {
        margin-left: 250px;
    }
    .form-container {
        flex-direction: column;
    }
    .div-form {
        width: 700px;
        margin: 5px;
        padding: 5px;
    }
    .form-container img {
        width: 300px;
    }

}